<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/boards">Kanban Board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="/boards/newboard">New Board</a>

                <% for (let key in boards) { %>
                    <% const board=boards[key]; %>
                        <a class="nav-link" href="/boards/<%= board._id %>">
                            <%= board.name %>
                        </a>
                        <% } %>

            </div>

            <div class="navbar-nav ms-auto">

                <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>

            </div>

        </div>
    </div>
</nav>