h1 {
    text-align: center;
}

.col {
    border: 1px black solid;
    padding: 20px;
}

.card {
    cursor: move;
}

.focus {
    background-color: aqua;
}

.btn-group {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 25rem;
    border: 2px solid black;
}

.col {
    height: 40rem;
    margin: 1rem;
}