<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <h1>All Projects</h1>
        <ul>
            <% for (let projectName of allProjectsName) { %>
                <li><%= projectName %></li>
                <% } %>
        </ul>

        <%- include('partials/footer') %>