<%- include('partials/head') %>
    <%- include('partials/navbar') %>

    <h1>All Tasks</h1>
    <ul>
        <% for (let task of selectedProjTasks) { %>
            <li>
                <%= task.text %>
            </li>
            <% } %>

    </ul>

    <%- include('partials/footer') %>