body {
    box-sizing: border-box;

    background-color: #e3d5ca;
}

.col-title-red {
    background-color: #ec8796;
    padding: 1em;
}

.col-title-yellow {
    background-color: #f2e682;
    padding: 1em;
}

.col-title-green {
    background-color: #95f489;
    padding: 1em;
}

.col {
    border: 3px black solid;
    padding: 0%;
    height: 40rem;
    margin: 1rem;
}

.low-prior {
    background-color: #bde0fe;
}

.medium-prior {
    background-color: #f2e682;
}

.high-prior {
    background-color: #ec8796;
}

.card {
    cursor: move;
    margin: 2rem;
    transition-duration: 0.4s;
}

.focus {
    background-color: aqua;
    font-weight: bold;
    transform: scale(1.11);
    border: 2px black solid;
}


  /*cardhoovering showes title attribute of the card*/
.card:hover:after {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: black;
    color: white;
  }