<% layout('/layouts/boilerplate') %>

            <h1>All Boards</h1>
            <ul>

                <% for (let key in boards) { %>
                    <% const board = boards[key]; %>
                    <li class="nav-item">
                        <a class="nav-link" href="/boards/<%= board._id %>">
                            <%= board.name %>
                        </a>
                    </li>
                <% } %>
            </ul>


