<% layout('/layouts/boilerplate') %>


  <div class="col-6 offset-3">
    <form action="/boards/newboard" method="post">
      <div class="form-group row mb-1 p-3">
        <label for="task-text" class="col-sm-2 col-form-label"><b>Board Name:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="task-board-name" placeholder="Enter Board Name"
            name="task[boardName]" required>
        </div>
      </div>
      <div class="form-group row mb-1 p-3">
        <label for="task-text" class="col-sm-2 col-form-label"><b>Text:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="task-text" placeholder="Enter New Task" name="task[text]"
            required>
        </div>
      </div>
      <fieldset class="form-group mb-1 p-3">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0"><b>Status:</b></legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[state]" id="todo" value="todo" checked>
              <label class="form-check-label" for="todo">
                To Do
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[state]" id="inprogress" value="inprogress">
              <label class="form-check-label" for="inprogress">
                In Progress
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="task[state]" id="done" value="done">
              <label class="form-check-label" for="done">
                Done
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group mb-1 p-3">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0"><b>Priority:</b></legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[priority]" id="prio-1" value="low" checked>
              <label class="form-check-label" for="prio-1">
                Low
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[priority]" id="prio-2" value="medium">
              <label class="form-check-label" for="prio-2">
                Medium
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="task[priority]" id="prio-3" value="high">
              <label class="form-check-label" for="prio-3">
                High
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row mb-1 p-3">
        <label for="task-text" class="col-sm-2 col-form-label"><b>Deadline:</b></label>
        <div class="col-sm-10">
          <input type="date" class="form-control w-auto" id="deadline" name="task[deadline]" value="2023-08-22"
            min="2023-06-26" max="2024-12-31">
        </div>
      </div>
      <div class="p-3">
        <button type="submit" class="btn btn-success">Add Task</button>
      </div>
    </form>
  </div>