<% layout('/layouts/boilerplate') %>

    <% if(saveSuccess) { %>
        <div class="alert alert-success align-items-center" role="alert" id="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="16" fill="currentColor"
                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <div>
                <span>Save was successfull.</span>
            </div>
            <script>
                // Hide the alert after a short delay
                const alertElement = document.getElementById('alert');
                setTimeout(() => {
                    alertElement.style.display = 'none';
                }, 3000); // 3000 milliseconds = 3 seconds
            </script>
        </div>
        <% } %>




            <div class="board row text-center">
                <div class="col container" id="todo-col">
                    <div class="col-title-red">
                        <h4>To Do</h4>
                    </div>
                </div>
                <div class="col container" id="inprogress-col">
                    <div class="col-title-yellow">
                        <h4>In Progress</h4>
                    </div>
                </div>
                <div class="col container" id="done-col">
                    <div class="col-title-green">
                        <h4>Done</h4>
                    </div>
                </div>
            </div>




            <button type="submit" id="saveButton" class="btn btn-success m-3">Save</button>




            <div class="btn-group btn-group-toggle p-3" data-toggle="buttons">

                <label class="btn btn-secondary btn-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                </label>
                <label class="btn btn-secondary btn-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg> </label>

                <!--  <label class="btn btn-secondary btn-save">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
                </svg>
            </label> -->
            </div>

            <a class="btn btn-primary m-3" role="button" aria-disabled="true"
                href="/boards/task/new?boardName=<%= encodeURIComponent(filteredTasks[0].boardName) %>">Add New Task</a>

            <script>
                // Define the filteredTasks variable in the global scope
                const tasks = '<%- JSON.stringify(filteredTasks) %>';
            </script>

            <script type="module" src="/js/render.js"></script>