<% layout('/layouts/boilerplate') %>


        <h1><%= boardName %> Tasks</h1>
        <ol>
            <% for (let task of filteredTasks) { %>
                <li>
                    <a href="/boards/task/<%= task._id %>">
                        <%= task.text %>
                    </a>

                </li>
                <% } %>

        </ol>


            <a class="btn btn-primary" role="button" aria-disabled="true"
                href="/boards/newtask?boardName=<%= encodeURIComponent(filteredTasks[0].boardName) %>">Add New Task</a>
