<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
</head>

<body>
    <h1>All Projects</h1>
    <ul>
        <% let allProject=[] %>
            <% for (let task of tasks) { %>
                <% if(!allProject.includes(task.projectName)){ %>
                    <li>
                        <%= task.projectName %>
                    </li>
                    <% allProject.push(task.projectName) %>
                        <% } %>
                            <% } %>

    </ul>

</body>

</html>